*{
  box-sizing: border-box;
}

ul.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: pink;
   
}

li.header {
    display: inline-block;
    padding: 0px 20px;
    background-color: pink;
    
}

#web-name{
    color: black;
    font-size: 50px;
    font-weight: 300;
    
}

  a.nav{
      font-size: 20px;
      color: black;
  }

  a.nav:link{
      text-decoration: none;
  }

  a.nav:hover{
      text-decoration:underline;
  }


body {
    font-family: Arial;
    background: #f1f1f1;
  }
  
 
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: left;
  }
  
  
  .leftcolumn { 
    float: left;
    width: 65%;
    display: grid;
    grid-template-columns: 400px 100px;
    grid-template-rows: 50px 100px 500px 300px;
    grid-template-areas: 
    "hd hd hd hd hd hd"
    "di di di di di di"
    "im im im mc mc mc"
    "p p p p p p";
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border: 3px solid #A6D8D3;

    /* To center content */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

.leftcolumn h2{
    grid-area: hd;
}

.leftcolumn h5{
    grid-area: di;
}

.leftcolumn img {
    grid-area: im;
    height: 550px;
    width: 500px;
    
}

.leftcolumn p{
    grid-area: p;
}

ul.ingredients {
    list-style-type: disc;
}

.rightcolumn{
    float: left;
    width: 35%;
    padding-left: 20px;
}


  .author{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border: 3px solid #A6D8D3;
  }
  
  #author{
    width: 50%;
    padding: 10px;
  }
  
  div.spacing{
      line-height: 1.4;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .footer {
    padding: 20px;
    text-align: center;
    background: pink;
    margin-top: 20px;
  }
  
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn { 
      width: 100%;
      padding: 0;
    }
  }

.footer .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    background-color: gray;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    color: white;
    transition: all 0.5s ease;
}

.footer .social-links a:hover{
    background-color: white;
    color: gray;
}

