ul.pageheader{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: pink;
}

li.pageheader{
    display: inline-block;
    padding: 0px 20px;
}

#web-name{
    color: black;
    font-size: 50px; 
    font-weight: 300;
    font-family:Arial, sans-serif;
    grid-area: wbn;
}
.pageheader{
    display: grid;
    grid-template-columns: 180px 380px 280px;
    grid-template-rows: 50px;
    grid-template-areas: 
    "wbn wbn wbn tt tt tt srh srh srh";
    padding: 30px;
    font-size: 40px;
}

#header{
    text-align: center;
    padding: 5px;
}

#search{
    grid-area: srh;
}

a.nav{
    font-size: 20px;
    color: black;
    font-family:Arial, sans-serif;
    grid-area: tt;
}

a.nav:link{
    text-decoration: none;
}

a.nav:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1400px) {
    .pageheader{
        display: grid;
        grid-template-columns: 100px;
        grid-template-rows: 50px 50px 50px;
        grid-template-areas: 
        "wbn wbn wbn wbn wbn wbn"
        "tt tt tt tt tt tt"
        "srh srh srh srh srh srh";
        padding: 30px;
        font-size: 40px;
    }
}
@media screen and (min-width: 300px) and (max-width: 395px){
    .pageheader{
        display: grid;
        grid-template-columns: 100px;
        grid-template-rows: 100px 50px 50px;
        grid-template-areas: 
        "wbn wbn wbn wbn wbn wbn"
        "tt tt tt tt tt tt"
        "srh srh srh srh srh srh";
        padding: 30px;
        font-size: 40px;
    }
}
@media screen and (max-width: 300px) {
    .pageheader{
        display: grid;
        grid-template-columns: 100px;
        grid-template-rows: 150px 50px 50px;
        grid-template-areas: 
        "wbn wbn wbn wbn wbn wbn"
        "tt tt tt tt tt tt"
        "srh srh srh srh srh srh";
        padding: 30px;
        font-size: 40px;
    }
}