ul.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: pink;
}

li {
    display: inline-block;
    padding: 0px 20px;
}

#web-name{
    color: black;
    font-size: 50px;
    font-weight: 300;
}

#header{
    text-align: center;
    padding: 5px;
}

  a.nav{
      font-size: 20px;
      color: black;
  }

  a.nav:link{
      text-decoration: none;
  }

  a.nav:hover{
      text-decoration:underline;
  }

  .bio{
    width:20%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }

  .container{
    text-align: left;
    padding: 10px 20px;
}

div.title{
    color:pink;
    font-weight:900;
}

.container3{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 0.5fr);
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "ah ah ah ah ah ah ah ah"
    "bi bi im im im im im im";
    
    /* "bi bi bi ah ah  im im"; */
    border: 2px solid yellow;
}

.image{
    grid-area: im;
    border: 2px solid red;
    width: 500px;
}

.bio{
    grid-area: bi;
    border: 2px solid red;
}

.article-heading{
    grid-area:ah;
    border: 2px solid red;
    width:750px;
    text-align: right;
}

.header{
    grid-area:hd;
    border:2px solid red;
}

.footer{
    background-color: pink;
    width: 100%;
    padding:0 25px;
    text-align: center;
}

.footer .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    background-color: gray;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    color: white;
    transition: all 0.5s ease;
}

.footer .social-links a:hover{
    background-color: white;
    color: gray;
}

