*{
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: pink;
}

li{
    display: inline-block;
    padding: 0px 20px;
}

#web-name{
    color: black;
    font-size: 50px;
    font-weight: 300;
    font-family:Arial, sans-serif;
    grid-area: wbn;
}
.pageheader{
    display: grid;
    grid-template-columns: 180px 380px 280px;
    grid-template-rows: 50px;
    grid-template-areas: 
    "wbn wbn wbn tt tt tt srh srh srh";
    padding: 30px;
    font-size: 40px;
}

#header{
    text-align: center;
    padding: 5px;
}

#search{
    grid-area: srh;
}
a.nav{
    font-size: 20px;
    color: black;
    font-family:Arial, sans-serif;
    grid-area: tt;
}

a.nav:link{
    text-decoration: none;
}

a.nav:hover{
    text-decoration: underline;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: #f1f1f1;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  

.column {
    float: left;
    width: 33%;
    padding: 10px 20px;
  }
  

.row1, .row2 {
    margin: 0 -5px;
}
  

.row1, .row2:after {
    content: "";
    display: table;
    clear: both;
}
  
img{
    height:300px;
    float: left;
    object-fit: cover;
}

a.link:link{
    text-decoration:none;
}

a.link:hover{
    text-decoration:underline;
}

a.link{
    font-family:Arial, sans-serif;
}

.footer{
    background-color: pink;
    width: 100%;
    padding:0 25px;
    text-align: center;
    font-family:Arial, sans-serif;
}

.footer .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    background-color: gray;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    color: white;
    transition: all 0.5s ease;
}

.footer .social-links a:hover{
    background-color: white;
    color: gray;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
  }

@media screen and (max-width: 1400px) {
    .pageheader{
        display: grid;
        grid-template-columns: 100px;
        grid-template-rows: 50px 50px 50px;
        grid-template-areas: 
        "wbn wbn wbn wbn wbn wbn"
        "tt tt tt tt tt tt"
        "srh srh srh srh srh srh";
        padding: 30px;
        font-size: 40px;
    }
}



